<!-- SECTION 3: project -->
<section id="blogs" class="blog-grid-section">
    <h2>Blogs</h2>

    <div class="grid-container">
        {% for item in site.blogs %}
    <a href="{{ item.url }}" class="blog-link">
        <div class="blog-card">
            <h3 class="blog-title">{{ item.title }}</h3>
            <div class="blog-skills">
                {% for skill in item.skills %}
                    <span class="skill">{{ skill }}</span>
                {% endfor %}
            </div>
            <p class="blog-description">{{ item.description }}</p>
            <button class="read-more">Read more →</button>
        </div>
    </a>
{% endfor %}
    </div>


 </section>
